/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/.env
/.env.*
!/.env.example
!/.env.production.example
/bootstrap/cache/*.php
/storage/logs/*.log
/storage/framework/cache/data
/storage/framework/views/*.php
/storage/backups/
.phpunit.result.cache
npm-debug.log
yarn-error.log
# Office documents
docs/*.docx
docs/*.pdf

# Temporary Office files
docs/~$*
docs/*.tmp